{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}


{{super()}}
<div class="container" style="padding-top: 10px;">
    <h3>Sign-Up</h3>
    {% for error in errors %}
        <p style="color: red;">{{error}}</p>
    {% endfor %}
      <div class="container">
        <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8">
        
        {{wtf.quick_form(registration_form)}}
        
        </div>
        <div class="col-md-2"></div>
        </div>
        </div>
</div>
{% endblock%}