{% extends 'base.html'%}
{% import 'macros.html' as macro %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title>Smart Minute Pitch</title>
        {% endif %}
        
        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index1.css')}}">
    {% endblock %}

    </head>
    <body>
        <!-- <h1>{{ message }}</h1>
        <h2> Pitches </h2> -->
            <!-- <ul>
                {% for pitches in pitches %}
                <li>{{ pitches_pitch.title }}</li>
                {% endfor %}
            </ul> -->

            {% block content %}
        <h1 style="text-align: center;">{{message}}</h1>
        <h2 style="text-align: center;">Wanna Pitch?</h2>

        <hr>
        
        <div class="container-fluid">
            <div class="container" style="font-family: Aclonica">

                <!-- {% if current_user.is_authenticated%}
                    <h1>Hello {{current_user.username}}</h1>
                    <h3>Welcome to One Minute Pitch</h3>
                {% else %}
                    <h1>Hello stranger</h1>
                {%endif%} -->
            </div>
       
            <div class="col-sm-12">
                <div class="panel style="style="border: 3px solid #f2f2f2; padding:20px; margin-top:10px; text-align:center; background-color: transparent;">
                    <p>Pitch in your favorite category and allow others to read, review and vote for them.</p>
                    
                    <div style="text-align:center;">
                        <a class="ratings" href="{{url_for('auth.login')}}"> Pitch here </a> 
                        
                    </div>
    
                    <div class="row">
    
                        <hr>
                
                        {% if reviews %}
                            {{macro.displayPitches(pitches)}}
                
                        {% else%}
                            
                        <a class="btn btn-danger btn-sm text-center" href="{{url_for('auth.login')}}"> Pitch here </a>
                        
                        {% endif %}
                
                    </div>
                
                </div>
                
            </div>

            <div class="clearfix"> 

                <div class="box">
                    <div class="panel panel-default" style=" background-color: transparent;">
                        <div class="panel-heading" style=" background-color: transparent;"><p> <a href="{{url_for('main.love')}}" style="font-size:20px; background-color: transparent;">
                          LOVE PITCH </a> </p></div>
                        <div class="panel-body">Love is such a beautiful language, let's converse</div>
                    </div>
                </div>
                      
                <div class="box">
  
                    <div class="panel panel-default" style=" background-color: transparent;">
                        <div class="panel-heading" style=" background-color: transparent;"><p> <a href="{{url_for('main.motivational')}}" style="font-size:20px; background-color: transparent;">
                         MOTIVATIONAL PITCH </a> </p></div>
                        <div class="panel-body">At times we all need some pick-me-up, Let's pick each other up today</div>
  
                    </div>
                 </div>

                 <div class="box">
  
                    <div class="panel panel-default" style=" background-color: transparent;">
                        <div class="panel-heading" style=" background-color: transparent;"><p> <a href="{{url_for('main.business')}}" style="font-size:20px; background-color: transparent;">
                         BUSINESS PITCH </a> </p></div>
                        <div class="panel-body">I need your smart ideas to better my business, Let's work</div>
  
                    </div>
                 </div>

                 <div class="box">
  
                    <div class="panel panel-default" style=" background-color: transparent;">
                        <div class="panel-heading" style=" background-color: transparent;"><p> <a href="{{url_for('main.medical')}}" style="font-size:20px; background-color: transparent;">
                         MEDICAL PITCH </a> </p></div>
                        <div class="panel-body">A healthy life is a necessity, Let's live healthy</div>
  
                    </div>
                 </div>
  
        {% endblock %}

    </body>
</html>
