<header class="site-header">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="/">SMART</a>
        </div>
         
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
  
              <!-- <ul class="nav navbar-nav navbar-right"> -->
               
                <li><a class="nav-item nav-link brand" href="/">Home</a></li>
                <li><a class="nav-item nav-link brand" href="/pitch/new">Pitch</a></li>
                <li><a class="nav-item nav-link brand" href="/">Profile</a></li>
                <li><a class="nav-item nav-link brand" href="/">Sign out</a></li>
  
                
                <li><a class="nav-item nav-link brand" href="/">Home</a></li>
                <li><a class="nav-item nav-link brand" href="/">Login</a></li>
                <li><a class="nav-item nav-link brand" href="/">Register</a><li>
                
               <!-- </ul> -->
          </div>
      </div>
    </nav>
  </header>